@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.eot');
    src: url('../font/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Raleway-Regular.svg#Raleway-Regular') format('svg'),
         url('../font/Raleway-Regular.ttf') format('truetype'),
         url('../font/Raleway-Regular.woff') format('woff'),
         url('../font/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }