@font-face {
  font-family: 'raleway';
  src: url("../font/raleway-light.eot");
  src: url("../font/raleway-light.eot?#iefix") format("embedded-opentype"), url("../font/raleway-light.svg#raleway-light") format("svg"), url("../font/raleway-light.ttf") format("truetype"), url("../font/raleway-light.woff") format("woff"), url("../font/raleway-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("../font/raleway-regular.eot");
  src: url("../font/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../font/raleway-regular.ttf") format("truetype"), url("../font/raleway-regular.woff") format("woff"), url("../font/raleway-regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url("../font/raleway-bold.ttf") format("truetype"), url("../font/raleway-bold.woff") format("woff"), url("../font/raleway-bold.eot"), url("../font/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../font/raleway-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat-regular.eot");
  src: url("../font/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-regular.svg#montserrat-regular") format("svg"), url("../font/montserrat-regular.ttf") format("truetype"), url("../font/montserrat-regular.woff") format("woff"), url("../font/montserrat-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.header {
  min-height: 100vh;
  background-image: url("../img/bg_header_mountains.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1175px;
  margin-left: calc(50% - 560px);
  margin-right: calc(50% - 560px);
  padding: 40px 0 0 0;
}

.header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
  margin: 0 182px 0 0;
}

.header-nav-logo:hover {
  color: #998675;
}

.header-nav-logo-svg {
  fill: currentColor;
}

.header-nav-logo-txt {
  font-family: 'raleway', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: right;
}

.header-carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  min-height: 80vh;
  margin: 0;
  margin-left: calc(50% - 640px);
  margin-right: calc(50% - 640px);
  position: relative;
}

.header-carusel-btn {
  display: block;
  width: 73px;
  height: 73px;
  position: relative;
}

.header-carusel-txt {
  width: 50%;
  min-height: 270px;
  color: #fff;
  text-align: center;
}

.header-carusel-txt__regular {
  font-family: 'raleway', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}

.header-carusel-txt p {
  font-family: 'montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header-carusel-txt-btn {
  width: 170px;
  padding: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  color: #fff;
  -ms-word-break: break-all;
  word-break: break-all;
  margin: 52px auto;
}

.header-carusel-txt-btn:hover {
  background-color: #fff;
  color: #736357;
}

.header-carusel-txt-btn:active {
  background-color: #736357;
  color: #fff;
}

.header-carusel-txt-btn-txt {
  margin: auto;
  font-family: raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
}

.header-carusel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.header-carusel-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-carusel-pagination-item:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
}

.header-nav-menu {
  padding: 16px 0 0 0;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
}

.header-nav a:hover {
  color: #998675;
}

.header-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 0 45px;
}

.header-nav-basketlink {
  color: #fff;
}

.header-nav-basketlink-svg {
  fill: currentColor;
}

.header-nav-formsearch {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0 0 0 30px;
}

.header-nav-formsearch-svg {
  fill: #fff;
}

.header-nav-formsearch__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 60px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.header-nav-formsearch__label {
  display: block;
  width: 100%;
  height: 100%;
}

.header-nav-formsearch__label:hover .header-nav-formsearch-svg {
  color: #998675;
  cursor: pointer;
}

.header-nav-formsearch__input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.carusel-btn-left::after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 1px solid #d3c1ad;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carusel-btn-left::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 1px solid #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carusel-btn-left:hover:before {
  border: 1px solid red;
  opacity: 0.5;
}

.carusel-btn-right::after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 1px solid #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carusel-btn-right::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 1px solid #d3c1ad;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carusel-btn-right:hover:before {
  border: 1px solid red;
  opacity: 0.5;
}

.header-carusel-txt h1 {
  font-family: raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  margin: 15px 0;
}

.header-carusel-txt p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */