@import 'fonts';

body {
    margin: 0;
}
.header {
    min-height: 100vh;
    background-image: url('../img/bg_header_mountains.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-nav {
        display: flex;
        justify-content: space-between;
        max-width: 1175px;
        // margin: 0 auto;
        margin-left: calc(50% - 560px);
        margin-right: calc(50% - 560px);
        padding: 40px 0 0 0;
        
    
        &-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 181px;
            text-decoration: none;
            color: #fff;
            margin: 0 182px 0 0;
            
            &:hover {
                color: #998675;
            }
            
            &-svg {
                fill: currentColor;
            }

            &-txt {
                font-family: 'raleway', sans-serif;
                font-size: 34px;
                line-height: 1.2;
                font-weight: 400;
                letter-spacing: -0.04em;
                text-align: right;
            }
        }
    }

    &-carusel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 1280px;
        min-height: 80vh;
        margin: 0;
        margin-left: calc(50% - 640px);
        margin-right: calc(50% - 640px);
        position: relative;

        &-btn {
            display: block;
            width: 73px;
            height: 73px;
            position: relative;
        }

        &-txt {
            width: 50%;
            min-height: 270px;
            color: #fff;
            text-align: center;

            &__regular {
                font-family: 'raleway', sans-serif;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 500;
            }

            & p {
                font-family: 'montserrat', sans-serif;
                font-style: normal;
                font-weight: 300;
            }

            &-btn {
                width: 165px;
                padding: 18px;
                box-sizing: border-box;
                display: flex;
                border: none;
                border-radius: 5px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                background-color: #998675;
                color: #fff;
                -ms-word-break: break-all;
                word-break: break-all;
                margin: auto;
                
                &:hover {
                    background-color: #fff;
                    color: #736357;
                }
                
                &:active {
                background-color: #736357;
                color: #fff;
                }

                &-txt {
                    margin: auto;
                    font-family: raleway;
                    font-size: 14px;
                    line-height: 23px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
            }
        }

        &-pagination {
            display: flex;
            justify-content: center;
            width: 100px;
            padding: 5px 0;
            position: absolute;
            bottom: 0;
            margin: 325px 0 40px 0;
            
            &-item {
                display: block;
                width: 10px;
                height: 10px;
                margin: 0 5px;
                border-radius: 50%;
                background-color:white;
                box-sizing: border-box;

                &:hover {
                    background-color: transparent;
                    // border: 1px solid white;
                    box-shadow: 0 0 0 2px white;
                }
            }
        }
    } 
}
.header-nav-menu {
    padding: 16px 0 0 0;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
}
.header-nav a {
    text-decoration: none;
    color: #fff;
}
.header-nav a:hover {
    color: #998675;
}
.header-nav-icons {
    display: flex;
    padding: 16px 0 0 45px;
}

.header-nav-basketlink {
    color: #fff;

    &-svg {
        fill: currentColor;
    }
}
.header-nav-formsearch {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0 0 0 30px;

    &-svg {
        fill: #fff;
    }

    &__input {
        width: 0;
        min-height: 0;
        padding: 5px;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 60px;
        left: -119px;
        color: #fff;
        font-size: 16px;
        font-family: Arial;
        text-transform: capitalize;
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.header-nav-formsearch__label:hover .header-nav-formsearch-svg {
    color: #998675;
    cursor: pointer;
}
.header-nav-formsearch__input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}
.carusel-btn-left::after {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(-225deg);
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-left::before {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 38px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-left:hover:before {
    border: 1px solid red;
    opacity: 0.5;
}
.carusel-btn-right::after {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-right::before {
    content: "";
    display: block;
    width: 52px;
    height: 0px;
    border: 1px solid #d3c1ad;
    transform: rotate(-225deg);
    position: absolute;
    top: 38px;
    left: 0;
    opacity: 0.5;
}
.carusel-btn-right:hover:before {
    border: 1px solid red;
    opacity: 0.5;
}
.header-carusel-txt h1 {
    font-family: raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    margin: 15px 0;
}
.header-carusel-txt p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 375px;

    & a {
        text-decoration: none;
        max-width: 280px;
        text-align: center;
        font-family: raleway;
    }

    & a:not(last-of-type) {
        margin: 0 30px 0 0;
    }

    & a:hover, a:hover > h2 {
        color: #c7b299;
    }

    & a:hover > svg {
        fill: #c7b299;
    }

    & svg {
        fill: #555555;
    }    
}
.main-nav-links-title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.main-nav-links-txt {
    font-family: montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}
.ideas {
    min-height: 700px;
    border-color: #fbfaf8;
    display: flex;
    flex-direction: column;

    &-main{
        text-align: center;
        flex-grow: 1;

        &-title {
            font-family: raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
        }

        &-txt {
            width: 780px;
            display: block;
            font-family: montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 0 auto;
        }
    }

    &-photo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &-bottom {
        height: 150px;
        background-color: #4e3427;
        background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 360px 0 360px;
        
        &-txt {
            font-family: raleway;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;
            color: #ffffff;

            &__wax {
                color: #c7b299;
            }

            &__sec {
                margin: 0;
                font-family: montserrat;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: #615855;
            }
        }
    }
}
.photo-landscape:first-child {
    position: absolute;
    bottom: 0;
    left: 130px;
    z-index: 1;    
}

.photo-landscape:nth-child(2) {
    margin: 0 auto;
    bottom: 0;
    z-index: 2;
}

.photo-landscape:last-child {
    position: absolute;
    bottom: 0;
    right: 130px;
    z-index: 1;
}