body {
  margin: 0;
}

.header {
  min-height: 100vh;
  background-image: url("../img/bg_header_mountains.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1175px;
  margin-left: calc(50% - 560px);
  margin-right: calc(50% - 560px);
  padding: 40px 0 0 0;
}

.header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
  margin: 0 182px 0 0;
}

.header-nav-logo:hover {
  color: #998675;
}

.header-nav-logo-svg {
  fill: currentColor;
}

.header-nav-logo-txt {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.header-carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  min-height: 80vh;
  margin: 0;
  margin-left: calc(50% - 640px);
  margin-right: calc(50% - 640px);
  position: relative;
}

.header-carusel-btn {
  display: block;
  width: 73px;
  height: 73px;
  border: 1px solid green;
}

.header-carusel-txt {
  width: 50%;
  min-height: 270px;
  color: #fff;
  text-align: center;
}

.header-carusel-txt-btn {
  width: 180px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 3px solid #736357;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  color: #fff;
  -ms-word-break: break-all;
  word-break: break-all;
  margin: 0 auto;
}

.header-carusel-txt-btn:hover {
  background-color: #fff;
  color: #736357;
}

.header-carusel-txt-btn:active {
  background-color: #736357;
  color: #fff;
}

.header-carusel-txt-btn-txt {
  margin: auto;
}

.header-carusel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.header-carusel-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-carusel-pagination-item:hover {
  background-color: transparent;
  border: 1px solid white;
}

.header-nav-menu {
  padding: 16px 0 0 0;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
}

.header-nav a:hover {
  color: #998675;
}

.header-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 0 45px;
}

.header-nav-basketlink {
  color: #fff;
}

.header-nav-basketlink-svg {
  fill: currentColor;
}

.header-nav-formsearch {
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0 0 0 30px;
}

.header-nav-formsearch-svg {
  fill: #fff;
}

.header-nav-formsearch__input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 60px;
  left: -119px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.header-nav-formsearch__label {
  display: block;
  width: 100%;
  height: 100%;
}

.header-nav-formsearch__label:hover .header-nav-formsearch-svg {
  color: #998675;
  cursor: pointer;
}

.header-nav-formsearch__input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}
/*# sourceMappingURL=main.css.map */